<header>
    <nav>
        <div class="logo">
            <a href="#">Job Board</a>
            <p>Find your dream job.</p>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse Job</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#" class="btn post-job">Post A Job</a></li>
        </ul>
    </nav>
</header>