<form action="" method="post">
    <label for="name"> Name:
        <input type="text" id="name" name="name">
    </label>
    <br>
    <label for="desc"> Description:
        <input type="text" id="desc" name="desc">
    </label>
    <br>
    <label for="loc"> Location:
        <input type="text" id="loc" name="loc">
    </label>
    <br>
    <input type="submit">

</form>