
<section class="search-bar">
            <form action="/search" method="post">
                <input type="text" name="search" placeholder="Search keyword">
                
                <button type="submit" class="btn find-job">Find Job</button>
            </form>
        </section>
        <section class="job-listings">
            

        <% jobs.forEach(job => { %>
            <% if (job.active) { %>
                <div class="job-card">
                    <h3><%= job.title %></h3>
                    <p>Location: <%= job.location %></p>
                    <p>Created at: <%= job.createdAt.toDateString() %></p>
                    <a href="/job/<%= job.id %>">View Details</a>
                </div>
            <% } %>
            
        <% }) %>
            <!-- Add more job cards as needed -->
        </section>